/* Form.scss *//*searchbox.css*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700);

@mixin textInput ($bgcolor, $color, $width, $placeholder) {
    display: inline;
    
    height: 35px;
    width: $width;
    
    margin: 0 5px;
    padding: 5px 15px;
    
    background-color: $bgcolor;
    color: $color;
    border: none;
    
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    &::-webkit-input-placeholder {
        color: $placeholder;
    }
    &:-moz-placeholder {
        /* FF 4-18 */
        color: $placeholder;
    }
    &::-moz-placeholder {
        /* FF 19+ */
        color: $placeholder;
    }
    &:-ms-input-placeholder {
        /* IE 10+ */
        color: $placeholder;
    }
}

.form-text { @include textInput (rgba(230, 230, 230, 0.5), #1D1D1D, 100%, rgba(10, 10, 10, 0.5)) }

.form-text-inverse { @include textInput (rgba(10, 10, 10, 0.5), #F0F0F0, 100%, rgba(240, 240, 240, 0.5)) }

.max600 { max-width: 600px; }

.fa { 
    margin: 5px;
    color: #FFF;
}

.contact-icon {
    color: #FFF;
    
    .fa {
        color: #FFF;
    }
    
    h4, h5 {
        color: #FFF;
    }
    
    &:hover {
        .fa {
            color: #C6C6C6;
        }
    }
}

.form-experience {
    width: 100%;
    height: 100%;
    
    label {
        margin-left: 15px;
    }
    a {
        i {
            color: #000;
        }
    }
}

.form-text-input {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: rgba(230, 230, 230, 0.5);
    background-image: none;
    border: none;
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    &:focus {
        outline: 0;
    }
    
    &::-moz-placeholder {
        color: #D0D0D0;
        opacity: 1;
    }
    
    &:-ms-input-placeholder {
        color: #D0D0D0;
    }
    
    &::-webkit-input-placeholder {
        color: #D0D0D0;
    }
}



