/* Introduction.scss */
/* Variables */
    /* Font Variables */
    $opensans: 'Open Sans', sans-serif;
    $lato: 'Lato', sans-serif;
    $light: 300;
    $normal: 400;
    $semibold: 600;
    $bold: 700;

.mo-intro {
    display: table;
    width: 100%;
    /* CHANGE VALUE IF FULL SCREEN */
    height: 100%;
    
    /*
    z-index: -999;
    */
    
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
    margin: 0;
    padding: 125px auto;
    /* UNCOMMENT THE LINE BELOW IF YOU WANT TO USE AN IMAGE AS YOUR BACKGROUND */
    background: url(../images/Ocean.png) no-repeat center top scroll;
    /*background-color: #1D1D1D;*/
    color: #FFF;
    
    background-size: cover;
    /* UNCOMMENT IF FULL SCREEN*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    .container {
        display: table-cell;
        vertical-align: middle;
        .content {
            color: #FFF;
            text-align: center;
            padding: 100px 5px 20px 5px;
            
            h1 {
                font-family: $glober;
                font-weight: $light;
                margin: 10px;
            }
            
            h2 {
                font-family: $opensans;
                font-weight: $light;
                margin-bottom: 75px;
            }
            
            sub {
                /* color: rgba(112, 212, 249, 1.0); */
                font-weight: $bold;
            }
            
            span:nth-child(1) {
                font-weight: $semibold;
            }
            
            span:nth-child(2) {
                font-weight: $light;
            }
        }
    }
    
    .vertical {
        vertical-align: top;
    }
}





